{% trans_default_domain 'FOSUserBundle' %}
{% extends "Dashboard/Freelancer/dashboard_layout.html.twig" %}
{% block content %}
<h1> Freelancer </h1>
    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
    {{ form_end(form) }}
{% endblock %}