<h1>Category</h1>

<table border="1">
    <tr>
        <td>name</td>
        <td>description</td>

        <td></td>
    </tr>

    {% for c in category %}
        <tr>
            <td>{{c.name}}</td>
            <td>{{c.description}}</td>
            <td></td>
            <td><a href="{{ path('Category_update',{'id':c.id}) }}">update</a></td>
            <td><a href="{{ path('Category_delete',{'id':c.id}) }}">delete</a></td>

        </tr>
    {% endfor %}

</table>
