<html> <head> <title>Update Category</title>
</head>
<body>
<center>
    <h1>Welcome to the Modele:update page</h1>
    <fieldset style="width: 50%">
        <form method="POST">
            name: <input type="text" name="name" value="{{ category.name }}"> <br>
            description: <input type="text" name="description" value="{{ category.description }}"> <br>


            </br>
            <input type="submit" value="Enregistrer">
        </form>
    </fieldset>
</center>
</body>
</html>