{% extends "home_layout.html.twig" %}

{% block homecontent %}
<!-- Titlebar
================================================== -->
<div class="single-page-header" data-background-image="images/single-task.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="single-page-header-inner">
                    <div class="left-side">
                        <div class="header-image"><a href="single-company-profile.html"><img src="images/browse-companies-02.png" alt=""></a></div>
                        <div class="header-details">
                            <h3>Food Delivery Mobile Application</h3>
                            <h5>About the Employer</h5>
                            <ul>
                                <li><a href="single-company-profile.html"><i class="icon-material-outline-business"></i> Acue</a></li>
                                <li><div class="star-rating" data-rating="5.0"></div></li>
                                <li><img class="flag" src="images/flags/de.svg" alt=""> Germany</li>
                                <li><div class="verified-badge-with-title">Verified</div></li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-side">
                        <div class="salary-box">
                            <div class="salary-type">Project Budget</div>
                            <div class="salary-amount">$2,500 - $4,500</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Page Content
================================================== -->
<div class="container">
    <div class="row">

        <!-- Content -->
        <div class="col-xl-8 col-lg-8 content-right-offset">

            <!-- Description -->
            <div class="single-page-section">
                <h3 class="margin-bottom-25">Project Description</h3>
                <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>

                <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>

                <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
            </div>

            <!-- Atachments -->
            <div class="single-page-section">
                <h3>Attachments</h3>
                <div class="attachments-container">
                    <a href="#" class="attachment-box ripple-effect"><span>Project Brief</span><i>PDF</i></a>
                </div>
            </div>

            <!-- Skills -->
            <div class="single-page-section">
                <h3>Skills Required</h3>
                <div class="task-tags">
                    <span>iOS</span>
                    <span>Android</span>
                    <span>mobile apps</span>
                    <span>design</span>
                </div>
            </div>
            <div class="clearfix"></div>

            <!-- Freelancers Bidding -->
            <div class="boxed-list margin-bottom-60">
                <div class="boxed-list-headline">
                    <h3><i class="icon-material-outline-group"></i> Freelancers Bidding</h3>
                </div>
                <ul class="boxed-list-ul">
                    <li>
                        <div class="bid">
                            <!-- Avatar -->
                            <div class="bids-avatar">
                                <div class="freelancer-avatar">
                                    <div class="verified-badge"></div>
                                    <a href="single-freelancer-profile.html"><img src="images/user-avatar-big-01.jpg" alt=""></a>
                                </div>
                            </div>

                            <!-- Content -->
                            <div class="bids-content">
                                <!-- Name -->
                                <div class="freelancer-name">
                                    <h4><a href="single-freelancer-profile.html">Tom Smith <img class="flag" src="images/flags/gb.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
                                    <div class="star-rating" data-rating="4.9"></div>
                                </div>
                            </div>

                            <!-- Bid -->
                            <div class="bids-bid">
                                <div class="bid-rate">
                                    <div class="rate">$4,400</div>
                                    <span>in 7 days</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="bid">
                            <!-- Avatar -->
                            <div class="bids-avatar">
                                <div class="freelancer-avatar">
                                    <div class="verified-badge"></div>
                                    <a href="single-freelancer-profile.html"><img src="images/user-avatar-big-02.jpg" alt=""></a>
                                </div>
                            </div>

                            <!-- Content -->
                            <div class="bids-content">
                                <!-- Name -->
                                <div class="freelancer-name">
                                    <h4><a href="single-freelancer-profile.html">David Peterson <img class="flag" src="images/flags/de.svg" alt="" title="Germany" data-tippy-placement="top"></a></h4>
                                    <div class="star-rating" data-rating="4.2"></div>
                                </div>
                            </div>

                            <!-- Bid -->
                            <div class="bids-bid">
                                <div class="bid-rate">
                                    <div class="rate">$2,200</div>
                                    <span>in 14 days</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="bid">
                            <!-- Avatar -->
                            <div class="bids-avatar">
                                <div class="freelancer-avatar">
                                    <a href="single-freelancer-profile.html"><img src="images/user-avatar-placeholder.png" alt=""></a>
                                </div>
                            </div>

                            <!-- Content -->
                            <div class="bids-content">
                                <!-- Name -->
                                <div class="freelancer-name">
                                    <h4><a href="single-freelancer-profile.html">Marcin Kowalski <img class="flag" src="images/flags/pl.svg" alt="" title="Poland" data-tippy-placement="top"></a></h4>
                                    <span class="not-rated">Minimum of 3 votes required</span>

                                </div>
                            </div>

                            <!-- Bid -->
                            <div class="bids-bid">
                                <div class="bid-rate">
                                    <div class="rate">$3,800</div>
                                    <span>In 20 days</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="bid">
                            <!-- Avatar -->
                            <div class="bids-avatar">
                                <div class="freelancer-avatar">
                                    <a href="single-freelancer-profile.html"><img src="images/user-avatar-placeholder.png" alt=""></a>
                                </div>
                            </div>

                            <!-- Content -->
                            <div class="bids-content">
                                <!-- Name -->
                                <div class="freelancer-name">
                                    <h4><a href="single-freelancer-profile.html">Sebastiano Piccio <img class="flag" src="images/flags/it.svg" alt="" title="Italy" data-tippy-placement="top"></a></h4>
                                    <div class="star-rating" data-rating="4.5"></div>
                                </div>
                            </div>

                            <!-- Bid -->
                            <div class="bids-bid">
                                <div class="bid-rate">
                                    <div class="rate">$3,400</div>
                                    <span>In 10 days</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>


        <!-- Sidebar -->

        {{ include('BidBundle:Freelancer:placebidsidebar.html.twig',{'form': form}) }}


    </div>

</div>


<!-- Spacer -->
<div class="margin-top-15"></div>
<!-- Spacer / End-->
{% endblock %}