<!-- Left Side Content -->
<div class="left-side">

    <!-- Logo -->
    <div id="logo">
        <a href="index-2.html"><img src="images/logo.png" alt=""></a>
    </div>

    <!-- Main Navigation -->
    <nav id="navigation">
        <ul>
                    <li><a href="{{ path('job_search') }}">Browse Jobs</a></li>
                    <li><a href="{{ path('listprojects') }}">Browse Projects</a></li>
                    <li><a href="{{ path('find_employer') }}">Browse Companies</a></li>


            <li><a href="{{ path('freelancer_dashboard') }}" class="current">Dashboard</a></li>


        </ul>
    </nav>
    <div class="clearfix"></div>
    <!-- Main Navigation / End -->

</div>
<!-- Left Side Content / End -->