{% extends "layout.html.twig" %}


{% block content %}
<!-- Employer Headline -->
<div class="dashboard-headline">
    <h3>Reviews</h3>

    <!-- Breadcrumbs -->
    <nav id="breadcrumbs" class="dark">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li>Reviews</li>
        </ul>
    </nav>
</div>

<!-- Row -->
<div class="row">
    <!-- Employer Box -->
    <!-- <div class="col-xl-6"> -->
        <div class="dashboard-box margin-top-0">

            <!-- Headline -->
            <div class="headline">
                <h3><i class="icon-material-outline-face"></i> Rate Freelancers</h3>
            </div>

            <div class="content">
                <ul class="dashboard-box-list">
                    <li>
                        <div class="boxed-list-item">
                            <!-- Content -->
                            <div class="item-content">
                                <h4>Simple Chrome Extension</h4>
                                <span class="company-not-rated margin-bottom-5">Not Rated</span>
                            </div>
                        </div>

                        <a href="#small-dialog-2" class="popup-with-zoom-anim button ripple-effect margin-top-5 margin-bottom-10"><i class="icon-material-outline-thumb-up"></i> Leave a Review</a>
                    </li>
                    <li>
                        <div class="boxed-list-item">
                            <!-- Content -->
                            <div class="item-content">
                                <h4>Help Fix Laravel PHP issue</h4>
                                <div class="item-details margin-top-10">
                                    <div class="star-rating" data-rating="5.0"></div>
                                    <div class="detail-item"><i class="icon-material-outline-date-range"></i> August 2019</div>
                                </div>
                                <div class="item-description">
                                    <p>Excellent programmer - helped me fixing small issue.</p>
                                </div>
                            </div>
                        </div>
                        <a href="#small-dialog-1" class="popup-with-zoom-anim button gray ripple-effect margin-top-5 margin-bottom-10"><i class="icon-feather-edit"></i> Edit Review</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!-- Row / End -->{% endblock %}
