{% extends "layout.html.twig" %}
{% block content %}
<!-- Leave a Review for Freelancer Popup
================================================== -->

                    <h3>Leave a Review</h3>
<!--                    <span>Rate <a href="#">Peter Valentín</a> for the project </span> -->

                {{ form_start (form) }}
                <input type="submit" value="Save Review">
                {{ form_end (form) }}




{% endblock %}