{% extends "base.html.twig" %}
{% block body %}
    <!--  find a way to add <body class="gray">-->


    <div id="wrapper">

        {% include 'Employer/header.html.twig' %}
        <div class="clearfix"></div>

        <div class="dashboard-container">


            <div class="dashboard-content-container" data-simplebar>
                <!-- Dashboard Content -->
                <div class="dashboard-content-inner" >

                    {% block homecontent %}

                    {% endblock %}
                </div>
                <!-- Row / End -->
                {% include 'footer/footer.html.twig' %}


            </div>
        </div>
    </div>
{% endblock %}