<html> <head> <title>Update skills</title>
</head>
<body>
<center>
    <h1>Welcome to the Modele:update page</h1>
    <fieldset style="width: 50%">
        <form method="POST">
            name: <input type="text" name="name" value="{{ skills.name }}"> <br>

            </br>
            <input type="submit" value="Enregistrer">
        </form>
    </fieldset>
</center>
</body>
</html>