{% extends "Dashboard/Employer/dashboard_layout.html.twig" %}{% extends "layout.html.twig" %}

{% block content %}

    <h3><i class="icon-feather-folder-plus"></i> Job Submission Form</h3>
    <br>
    <br>

    {{ form_start (form)}}

    <div class="form_group">
        <input type="submit"  value="post">
    </div>
    {{ form_end (form) }}



{% endblock %}
