<!-- Left Side Content -->
<div class="left-side">

    <!-- Logo -->
    <div id="logo">
        <a href="index-2.html"><img src="images/logo.png" alt=""></a>
    </div>

    <!-- Main Navigation -->
    <nav id="navigation">
        <ul id="responsive">
            <li><a href="{{ path('find_freelancer') }}">Find a Freelancer</a></li>


            <li><a href="{{ path('post_job') }}">Post a Job</a></li>
            <li><a href="{{ path('create_task') }}">Post a Task</a></li>
            <li><a href="{{ path('employer_dashboard') }}" class="current">Dashboard</a>

            </li>
        </ul>
    </nav>
    <div class="clearfix"></div>
    <!-- Main Navigation / End -->

</div>
<!-- Left Side Content / End -->