<!-- Header Container
================================================== -->
<header id="header-container" class="fullwidth dashboard-header not-sticky">

    <!-- Header -->
    <div id="header">
        <div class="container">

            {% include 'Header/Employer/header_left_side_nav.html.twig' %}
            {% include 'Header/Employer/header_rightside.html.twig' %}
        </div>
    </div>
    <!-- Header / End -->

</header>
