{% extends "::base.html.twig" %}

{% block title %}BookmarkBundle:Bookmark:freelancerBookmarks{% endblock %}

{% block body %}
<h1>Welcome to the Bookmark:freelancerBookmarks page</h1>
{% endblock %}
