<!-- Left Side Content -->
<div class="left-side">

    <!-- Logo -->
    <div id="logo">
        <a href="index-2.html"><img src="images/logo.png" alt=""></a>
    </div>

    <!-- Main Navigation -->
    <nav id="navigation">
        <ul id="responsive">

            <li><a href="#">Home</a>
                <ul class="dropdown-nav">
                    <li><a href="index-2.html">Home 1</a></li>

                </ul>
            </li>

            <li><a href="#">Find Work</a>
                <ul class="dropdown-nav">
                    <li><a href="#">Browse Jobs</a>
                        <ul class="dropdown-nav">
                            <li><a href="jobs-list-layout-2.html">List Layout 2</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Browse Tasks</a>
                        <ul class="dropdown-nav">
                            <li><a href="tasks-list-layout-2.html">List Layout 2</a></li>

                        </ul>
                    </li>
                    <li><a href="browse-companies.html">Browse Companies</a></li>
                    <li><a href="single-job-page.html">Job Page</a></li>
                    <li><a href="single-task-page.html">Task Page</a></li>
                    <li><a href="single-company-profile.html">Company Profile</a></li>
                </ul>
            </li>


            <li><a href="#" class="current">Dashboard</a>
                <ul class="dropdown-nav">
                    <li><a href="dashboard.html">Dashboard</a></li>
                    <li><a href="dashboard-messages.html">Messages</a></li>
                    <li><a href="dashboard-bookmarks.html">Bookmarks</a></li>
                    <li><a href="dashboard-reviews.html">Reviews</a></li>

                    <li><a href="dashboard-manage-tasks.html">Bids</a>
                        <ul class="dropdown-nav">
                            <li><a href="dashboard-my-active-bids.html">My Active Bids</a></li>
                        </ul>
                    </li>
                    <li><a href="dashboard-settings.html">Settings</a></li>
                </ul>
            </li>


        </ul>
    </nav>
    <div class="clearfix"></div>
    <!-- Main Navigation / End -->

</div>
<!-- Left Side Content / End -->